/* Survey form background color */
#_builder-form, .hl-app .ghl-survey-form, form#_builder-form.ghl-survey-form {
	background: #5b5b5b !important;
	background: -moz-linear-gradient(top,  #5b5b5b 0%, #000000 100%) !important;
	background: -webkit-linear-gradient(top,  #5b5b5b 0%,#000000 100%) !important;
	background: linear-gradient(to bottom,  #5b5b5b 0%,#000000 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b5b5b', endColorstr='#000000',GradientType=0 );
}

/* Survey form question container background color */
#_builder-form .hl-app .ghl-question-set .ghl-question,
#_builder-form .ghl-question-set .ghl-question {
    background-color: #ffffff !important;
}

/* Survey form footer container background color */
#_builder-form .ghl-footer {
	background: #7ed321 !important;
}

/* Global style for colors */
#_builder-form .ghl-question .step {
	color: #ffffff; 
}
#_builder-form.form-builder--wrap-questions .form-builder--item label {
	color: #333333 !important;
}
#_builder-form label.checked::before,
#_builder-form label.checked::after,
#_builder-form .ghl-question .step {
	background: #7ed321 !important;
}
#_builder-form .form-control::placeholder,
#_builder-form .form-control:-ms-input-placeholder,
#_builder-form .form-control::-ms-input-placeholder {
    color: #333 !important;
    opacity: .4;
}
#_builder-form .ghl-progress-bar-text,
#_builder-form .ghl-progress-bar-inner,
#_builder-form .ghl-progress-bar-inner:after,
#_builder-form .ghl-progress-bar-background.percent-100 .ghl-progress-bar-inner {
	background-color: #7ed321 !important;
}
#_builder-form .form-builder--item h1 {
    color: #1b87e6 !important;
}
#_builder-form.ghl-question-set {
    background-color: transparent !important;
}

/* Survey form step number */
#_builder-form .ghl-question-set .ghl-question .option {
    border: 1px solid #68cbad;
}
#_builder-form .ghl-question-set .ghl-question .option label::before {
    border: 1px solid #1da872 !important;
}

/* Survey form yes/no option button */
#_builder-form .opt-button .option-radio input[type=radio]+label {
    color: #ffffff !important;
    background-color: #7ed321 !important;
    border: 2px solid #7ed321 !important;
}
#_builder-form .opt-button .option-radio:hover input + label {
	background-color: #5caa06 !important;
	border: 2px solid #5caa06 !important;
}
#_builder-form .opt-button .option-radio input[type=radio]+label+label {
    color: #ffffff !important;
}

/* Survey form input, radion buttons and labels */
#_builder-form .form-builder--item .option label,
#_builder-form .form-builder--item .option-radio label {
    color: #ffffff !important;
	border-color: #7ed321 !important;
}
#_builder-form label.checked::before {
  	border: 2px solid #ffffff !important;
}
#_builder-form .form-control,
#_builder-form .date-picker-custom-style input {
	border-color: #cccccc !important;
	color: #000000 !important;
	background: #ffffff !important;
}
#_builder-form .form-control:active:focus, #_builder-form .form-control:focus {
	background: transparent !important;
	border: 1px solid #7ed321;
	background-color: #f7f7f7 !important;
}
#_builder-form .option-radio label::before {
	border: 1px solid #ccc;
}
#_builder-form .ghl-question-set .menu-field-wrap .form-builder--item .option label::before {
    border-color: #7ed321 !important;
}
#_builder-form .menu-field-wrap .form-builder--item .option label::after {
	color: #7ed321 !important;
}
#_builder-form .ghl-question .option-radio {
    background-color: #7ed321 !important;
}
#_builder-form .ghl-question .container-group-image .option-radio {
	background-color: #d7d7d7 !important;
}
#_builder-form .ghl-question .option-radio:hover,
#_builder-form .ghl-question .option-radio:focus,
#_builder-form .ghl-question .option-radio:active {
	background-color: #ffffff !important;
}
#_builder-form .ghl-question .container-group-image .option-radio:hover,
#_builder-form .ghl-question .container-group-image .option-radio:focus,
#_builder-form .ghl-question .container-group-image .option-radio:active {
	background-color: #7ed321 !important;
}
#_builder-form .form-builder--item .option label,
#_builder-form .form-builder--item .option-radio:hover label,
#_builder-form .form-builder--item .option-radio:active label,
#_builder-form .form-builder--item .option-radio:active label {
    color: #333333 !important;
}

/* Survey form dropdown options */
.hl-app .multi_select_form .multiselect__option--highlight, 
.hl-app .multi_select_form .multiselect__option--selected.multiselect__option--highlight {
    background: #e4f3ff !important;
	color: #7ed321 !important;
}
#_builder-form .form-builder--item .multiselect__tag {
	background: #7ed321 !important;
}
#_builder-form .multi_select_form .multiselect__single {
    background: #e4f3ff !important;
	color: #7ed321 !important;
}
#_builder-form .multiselect__tag-icon:focus, 
#_builder-form .multiselect__tag-icon:hover {
    background: #7ed321 !important;
}
#_builder-form .form-builder--item .multiselect__tag-icon::after {
    color: #ffffff !important;
}

/* Style for the radio button check mark */
#_builder-form .option-radio input + label::after {
	border: 1px solid #7ed321 !important;
	background-color: #7ed321 !important;
}
#_builder-form .option-radio label.checked::before {
	background-color: #ffffff !important;
}
#_builder-form .option-radio .opt-container-img-label::after {
	color: #7ed321 !important;
}

/* Survey form footer and progress bar */
#_builder-form #progress_bar {
	background-color: rgba(255, 255, 255, 0.80) !important;
}
#_builder-form #progress_bar .progress-item {
	background-color: #ffffff;
	border: 2px solid transparent;
}
#_builder-form #progress_bar .progress-cell.active .progress-item {
	background-color: #ffffff;
	border: 2px solid #ffffff;
}
#_builder-form .ghl-progress-bar-background {
	border-color: #7ed321 !important;
}

/* Survey form buttons */
#_builder-form .ghl-button-bar .ghl-prev-button {
	color: #ffffff !important;
	background-color: transparent !important;
}
#_builder-form .ghl-button-bar .ghl-next-button, #_builder-form .ghl-button-bar .ghl-submit-button {
	color: #ffffff !important;
    background-color: transparent !important;
}
#_builder-form .ghl-button-bar .ghl-prev-button:hover,
#_builder-form .ghl-button-bar .ghl-next-button:hover, 
#_builder-form .ghl-button-bar .ghl-submit-button:hover {
	background-color: rgba(0, 0, 0, 0.20) !important;
	color: #ffffff !important;
}

/* Thank you message */
#_builder-form h3 {
	color: #ffffff !important;
}

/* Step indicator pulse */
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(rgba(126, 211, 33, 0.8));
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(126, 211, 33, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(126, 211, 33, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(126, 211, 33, 0.8);
    box-shadow: 0 0 0 0 rgba(126, 211, 33, 0.8);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(126, 211, 33, 0);
      box-shadow: 0 0 0 10px rgba(126, 211, 33, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(126, 211, 33, 0);
      box-shadow: 0 0 0 0 rgba(126, 211, 33, 0);
  }
}