:root { /* this overrides the default colors in the base css */
  --form-main-bg: #5b5b5b;
  --form-second-bg: #000000;
  --main-color-tone: #7ed321;
  --footer-bg: #7ed321; /* footer background */
  --step-number-color: #ffffff;  /* color of step number */
  --step-number-bg: #7ed321;  /* background of step number */
  --checkbox-border-color: #7ed321; /* border color of checkboxes */
  --button-color: #ffffff; /* next button color */
  --button-hover-color: rgba(0, 0, 0, 0.20); /* Jotform next and prev button hover */
  --progress-bar: rgba(255, 255, 255, 0.80); /* Jotform progress bar background */
  --progress-bar-color: #ffffff; /* Jotform progress bar item */
  --progress-bar-border: #ffffff; /* Jotform progress bar item */
  --progress-bar-sg: #000000; /* Surveygizmo progress bar background */
  --progress-bar-color-sg: #ffffff; /* Surveygizmo progress bar item */
  --option-label: #333333; /* option label color */
  --option-check: #333333; /* checkbox check color */
  --option-radio-label: #333333; /* option radio label color */
  --option-radio-bg: #ffffff; /* option radio bg */
  --option-radio-hover: #333333; /* option radio label hover */
  --option-radio-border: #7ed321;  /* option radio label border */
  --option-radio-image: #d7d7d7; /* option radio image */
  --option-radio-button-color: #ffffff; /* option radio text button color */
  --option-radio-button-bg: #7ed321; /* option radio text button bg */
  --option-radio-button-hover: #5caa06; /* option radio text button hover */
  --select-hightlight: #7ed321; /* dropdown highlight bg */
  --select-hightlight-color: #ffffff; /* dropdown highlight color */
  --heading-color: #000000; /* headings color */
  --placeholder-color: #333333; /* input placeholder text color */
  --question-bg: #ffffff; /* question background */
  --question-label-color: #000000; /* question label color */
  --input-border: #cccccc; /* form input border color */
  --input-color: #000000; /* form input color */
  --input-bg: #ffffff; /* form input background */
  --focus-color: #f7f7f7; /* default background color of your input field when you focus on it */
  --thank-you-text: #ffffff;
}

/* Survey form background color */
#_builder-form, .hl-app .ghl-survey-form, form#_builder-form.ghl-survey-form {
	background: var(--form-main-bg) !important;
	background: -moz-linear-gradient(top, var(--form-main-bg) 0%, var(--form-second-bg) 100%) !important;
	background: -webkit-linear-gradient(top, var(--form-main-bg) 0%, var(--form-second-bg) 100%) !important;
	background: linear-gradient(to bottom, var(--form-main-bg) 0%, var(--form-second-bg) 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='var(--form-main-bg)', endColorstr='var(--form-second-bg)',GradientType=0 );
}
#_builder-form, .hl-app .ghl-survey-form.form-submitted, form#_builder-form.ghl-survey-form.form-submitted {
	background: var(--form-main-bg) !important;
}

/* Survey form question container background color */
#_builder-form .hl-app .ghl-question-set .ghl-question,
#_builder-form .ghl-question-set .ghl-question {
    background-color: var(--question-bg) !important;
}

/* Survey form footer container background color */
#_builder-form .ghl-footer {
	background: var(--footer-bg) !important;
}

/* Survey form alert message */
.ghl-survey-form .alert ul li {
	box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.10);
}

/* Global style for colors */
#_builder-form .ghl-question .step,
#_builder-form .ghl-question .ghl-step-num {
	color: var(--step-number-color); 
	background: var(--step-number-bg) !important;
}
#_builder-form label.checked::before,
#_builder-form label.checked::after {
	background: var(--main-color-tone) !important;
}
#_builder-form .form-control::placeholder,
#_builder-form .form-control:-ms-input-placeholder,
#_builder-form .form-control::-ms-input-placeholder,
#_builder-form .countryphone::placeholder,
#_builder-form .countryphone:-ms-input-placeholder,
#_builder-form .countryphone::-ms-input-placeholder {
    color: var(--input-color) !important;
    opacity: .4;
}
#_builder-form .form-builder--item input[type=text][class=form-control]::placeholder, 
#_builder-form .form-builder--item .date-picker-custom-style::placeholder, 
textarea::placeholder, 
#_builder-form input[type=number]::placeholder,
#_builder-form input[type=tel]::placeholder,
#_builder-form input[type=email]::placeholder, 
#_builder-form .multiselect .multiselect__tags::placeholder {
    color: var(--input-color) !important;
    opacity: .4;
}
#_builder-form .form-builder--item input[type=text][class=form-control]:-ms-input-placeholder, 
#_builder-form .form-builder--item .date-picker-custom-style:-ms-input-placeholder, 
textarea:-ms-input-placeholder, 
#_builder-form input[type=number]:-ms-input-placeholder,
#_builder-form input[type=tel]:-ms-input-placeholder,
#_builder-form input[type=email]:-ms-input-placeholder, 
#_builder-form .multiselect .multiselect__tags:-ms-input-placeholder {
    color: var(--input-color) !important;
    opacity: .4;
}
#_builder-form .form-builder--item input[type=text][class=form-control]::-ms-input-placeholder, 
#_builder-form .form-builder--item .date-picker-custom-style::-ms-input-placeholder, 
textarea::-ms-input-placeholder, 
#_builder-form input[type=number]::-ms-input-placeholder,
#_builder-form input[type=tel]::-ms-input-placeholder,
#_builder-form input[type=email]::-ms-input-placeholder, 
#_builder-form .multiselect .multiselect__tags::-ms-input-placeholder {
    color: var(--input-color) !important;
    opacity: .4;
}
.c-survey #_builder-form .form-builder--item input[type=text][class=form-control]::placeholder, 
.c-survey #_builder-form .form-builder--item .date-picker-custom-style::placeholder, 
.c-survey #_builder-form textarea::placeholder, 
.c-survey #_builder-form input[type=number]::placeholder,
.c-survey #_builder-form input[type=tel]::placeholder,
.c-survey #_builder-form input[type=email]::placeholder, 
.c-survey #_builder-form .multiselect .multiselect__tags::placeholder,
.c-survey #_builder-form .form-builder--item .date-picker-custom-style input[type=text]::placeholder{
    color: var(--input-color) !important;
    opacity: .4;
}
.c-survey #_builder-form .form-builder--item input[type=text][class=form-control]:-ms-input-placeholder, 
.c-survey #_builder-form .form-builder--item .date-picker-custom-style:-ms-input-placeholder, 
.c-survey #_builder-form textarea:-ms-input-placeholder, 
.c-survey #_builder-form input[type=number]:-ms-input-placeholder,
.c-survey #_builder-form input[type=tel]:-ms-input-placeholder,
.c-survey #_builder-form input[type=email]:-ms-input-placeholder, 
.c-survey #_builder-form .multiselect .multiselect__tags:-ms-input-placeholder,
.c-survey #_builder-form .form-builder--item .date-picker-custom-style input[type=text]::placeholder{
    color: var(--input-color) !important;
    opacity: .4;
}
.c-survey #_builder-form .form-builder--item input[type=text][class=form-control]::-ms-input-placeholder, 
.c-survey #_builder-form .form-builder--item .date-picker-custom-style::-ms-input-placeholder, 
.c-survey #_builder-form textarea::-ms-input-placeholder, 
.c-survey #_builder-form input[type=number]::-ms-input-placeholder,
.c-survey #_builder-form input[type=tel]::-ms-input-placeholder,
.c-survey #_builder-form input[type=email]::-ms-input-placeholder, 
.c-survey #_builder-form .multiselect .multiselect__tags::-ms-input-placeholder,
.c-survey #_builder-form .form-builder--item .date-picker-custom-style input[type=text]::placeholder{
    color: var(--input-color) !important;
    opacity: .4;
}
#_builder-form .ghl-progress-bar-text,
#_builder-form .ghl-progress-bar-inner,
#_builder-form .ghl-progress-bar-inner:after,
#_builder-form .ghl-progress-bar-background.percent-100 .ghl-progress-bar-inner {
	background-color: var(--progress-bar-sg) !important;
	color: var(--progress-bar-color-sg);
}
#_builder-form .form-builder--item h1 {
    color: var(--heading-color) !important;
}
#_builder-form.ghl-question-set {
    background-color: transparent !important;
}
#_builder-form .form-builder--wrap-questions .form-builder--item label,
#_builder-form .form-builder--item p {
	color: var(--question-label-color) !important;
}

/* Survey form step number */
#_builder-form .ghl-question-set .ghl-question .option {
    border: 1px solid var(--main-color-tone);
}
#_builder-form .ghl-question-set .ghl-question .option label::before {
    border: 1px solid var(--main-color-tone) !important;
}

/* Survey form yes/no option button */
#_builder-form .opt-button .option-radio input[type=radio]+label {
    color: var(--option-radio-button-color) !important;
    background-color: var(--option-radio-button-bg) !important;
    border: 2px solid var(--option-radio-button-bg) !important;
}
#_builder-form .inputIcon::before {
	background-color: var(--main-color-tone);
	color: var(--question-label-color);
}
#_builder-form .opt-button .option-radio:hover input + label,
#_builder-form .opt-button .option-radio input[type="radio"] + label.checked {
	background-color: var(--option-radio-button-hover) !important;
	border: 2px solid var(--option-radio-button-hover) !important;
}
#_builder-form .opt-button .option-radio input[type=radio]+label+label {
    color: var(--option-radio-button-color) !important;
}

/* Survey form input, radion buttons and labels */
#_builder-form .form-builder--item .option label {
    color: var(--option-label) !important;
	border-color: var(--main-color-tone) !important;
}
#_builder-form .form-builder--item .option-radio label {
    color: var(--option-radio-label) !important;
    border-color: var(--option-radio-border) !important;
}
#_builder-form label.checked::before {
  	border: 2px solid var(--option-radio-label) !important;
}
#_builder-form .form-control,
#_builder-form .date-picker-custom-style input,
#_builder-form .countryphone {
	border-color: var(--input-border) !important;
	color: var(--input-color) !important;
	background: var(--input-bg) !important;
}
#_builder-form .form-builder--item input[type=text][class=form-control], 
#_builder-form .form-builder--item .date-picker-custom-style, 
textarea, 
#_builder-form input[type=number],
#_builder-form input[type=tel],
#_builder-form input[type=email], 
#_builder-form .multiselect .multiselect__tags {
    border-color: var(--input-border) !important;
	color: var(--input-color) !important;
	background: var(--input-bg) !important;
}
#_builder-form canvas.signature-button {
    border-color: var(--input-border) !important;
	color: var(--input-color) !important;
	background: var(--input-bg) !important;
}
#_builder-form .form-control:active:focus, 
#_builder-form .form-control:focus {
	background: transparent !important;
	border: 1px solid var(--main-color-tone);
	background-color: var(--focus-color) !important;
}
#_builder-form .option-radio label::before {
	border: 1px solid var(--option-radio-check-border);
}
#_builder-form .ghl-question-set .menu-field-wrap .form-builder--item .option label::before {
    border-color: var(--checkbox-border-color) !important;
    background: transparent !important;
}
#_builder-form .menu-field-wrap .form-builder--item .option label::after {
	color: var(--option-check) !important;
}
#_builder-form .ghl-question .option-radio {
    background-color: var(--option-radio-bg) !important;
}
#_builder-form .ghl-question .container-group-image .option-radio {
	background-color: var(--option-radio-button-bg) !important;
}
#_builder-form .ghl-question .option-radio:hover,
#_builder-form .ghl-question .option-radio:focus,
#_builder-form .ghl-question .option-radio:active {
	background-color: var(--option-radio-label-hover) !important;
}
#_builder-form .ghl-question .container-group-image .option-radio:hover,
#_builder-form .ghl-question .container-group-image .option-radio:focus,
#_builder-form .ghl-question .container-group-image .option-radio:active {
	background-color: var(--option-radio-button-hover) !important;
}
#_builder-form .ghl-question .container-group-image .option-radio:hover .img-opt-title,
#_builder-form .ghl-question .container-group-image .option-radio:focus .img-opt-title,
#_builder-form .ghl-question .container-group-image .option-radio:active .img-opt-title {
	color: #ffffff !important;
}
#_builder-form .form-builder--item .option-radio:hover label,
#_builder-form .form-builder--item .option-radio:active label,
#_builder-form .form-builder--item .option-radio:active label {
    color: var(--option-radio-hover) !important;
}

/* Survey form dropdown options */
.hl-app .multi_select_form .multiselect__option--highlight, 
.hl-app .multi_select_form .multiselect__option--selected.multiselect__option--highlight {
    background: var(--select-hightlight) !important;
	color: var(--select-hightlight-color) !important;
}
#_builder-form .multi_select_form .multiselect__single {
    background: var(--select-hightlight) !important;
	color: var(--select-hightlight-color) !important;
}
#_builder-form .form-builder--item .multiselect__tag {
	background: var(--main-color-tone) !important;
}
#_builder-form .multiselect__tag-icon:focus, 
#_builder-form .multiselect__tag-icon:hover {
    background: var(--main-color-tone) !important;
}
#_builder-form .form-builder--item .multiselect__tag span,
#_builder-form .form-builder--item .multiselect__tag-icon::after {
    color: var(--select-hightlight-color) !important;
}

/* Style for the radio button check mark */
#_builder-form .option-radio input + label::after {
	border: 1px solid var(--main-color-tone) !important;
	background-color: var(--main-color-tone) !important;
}
#_builder-form .option-radio label.checked::before {
	background-color: var(--option-radio-label) !important;
}
#_builder-form .option-radio .opt-container-img-label::after {
	color: var(--main-color-tone) !important;
}

/* Survey form footer and progress bar */
#_builder-form #progress_bar {
	background-color: var(--option-radio-bg) !important;
}
#_builder-form #progress_bar .progress-item {
	background-color: var(--option-radio-bg);
	border: 2px solid transparent;
}
#_builder-form #progress_bar .progress-cell.active .progress-item {
	background-color: var(--option-radio-button-hover);
	border: 2px solid var(--option-radio-button-hover);
}
#_builder-form #progress_bar .progress-cell .progress-item::before {
    border: 2px solid var(--option-radio-button-hover);
}
#_builder-form .ghl-progress-bar-background {
	border-color: var(--progress-bar-sg)!important;
	background-color: transparent;
}

/* Survey form buttons */
#_builder-form .ghl-button-bar .ghl-prev-button,
#_builder-form .ghl-button-bar .ghl-back-button {
	color: var(--button-color) !important;
	background-color: transparent !important;
}
#_builder-form .ghl-button-bar .ghl-next-button, #_builder-form .ghl-button-bar .ghl-submit-button {
	color: var(--button-color) !important;
    background-color: transparent !important;
}
#_builder-form .ghl-button-bar .ghl-prev-button:hover,
#_builder-form .ghl-button-bar .ghl-next-button:hover, 
#_builder-form .ghl-button-bar .ghl-submit-button:hover {
	background-color: transparent !important;
	color: var(--button-color) !important;
}

#_builder-form .ghl-button-bar .ghl-prev-button.ghl-custom-btn:hover,
#_builder-form .ghl-button-bar .ghl-next-button.ghl-custom-btn:hover, 
#_builder-form .ghl-button-bar .ghl-submit-button.ghl-custom-btn:hover {
	background-color: var(--button-hover-color) !important;
	color: var(--button-color) !important;
}

/* Thank you message */
#_builder-form h3 {
	color: var(--thank-you-text) !important;
}

/* Step indicator pulse */
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(rgba(8, 100, 174, 0.8));
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(8, 100, 174, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(8, 100, 174, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(8, 100, 174, 0.8);
    box-shadow: 0 0 0 0 rgba(8, 100, 174, 0.8);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(8, 100, 174, 0);
      box-shadow: 0 0 0 10px rgba(8, 100, 174, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(8, 100, 174, 0);
      box-shadow: 0 0 0 0 rgba(8, 100, 174, 0);
  }
}


/* Typeform */
#_builder-form .fields-container {
    margin: 0px !important;
}
#_builder-form .ghl-question .opt-grid .form-builder--item {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
}
#_builder-form .ghl-question .opt-grid .form-builder--item .option-radio {
    width: 100% !important;
    margin: 0 !important;
}
#_builder-form .ghl-question .opt-grid .form-builder--item .option-radio div {
    width: 100%;
    height: 100%;
    border: none;
    border-right: 1px solid #ccc;
}
#_builder-form .ghl-question .opt-grid .form-builder--item .option-radio:last-child div {
    border-right: none !important;
}
#_builder-form .ghl-question .opt-grid .form-builder--item .option-radio label {
    width: 100% !important;
    border: none !important;
    padding: 15px 10px !important;
    text-align: center;
    margin: 0 !important;
}
#_builder-form .ghl-question .opt-grid .form-builder--item .option-radio label:before,
#_builder-form .ghl-question .opt-grid .form-builder--item .option-radio label:after {
    display: none !important;
}
#_builder-form .ghl-question .opt-grid .form-builder--item .option-radio label.checked {
    background-color: #3aa0f3;
    color: #fff !important;
}

#_builder-form, .hl-app .ghl-survey-form, form#_builder-form.ghl-survey-form {
    margin: 0 auto !important;
    padding: 30px 30px 30px 30px !important;
}
#_builder-form .form-control, 
#_builder-form .date-picker-custom-style input,
#_builder-form .countryphone {
    border-width: 0px 0px 1px 0px !important;
}
#_builder-form .form-builder--item input[type=text][class=form-control], 
#_builder-form .form-builder--item .date-picker-custom-style, 
textarea, 
#_builder-form input[type=number],
#_builder-form input[type=tel],
#_builder-form input[type=email], 
#_builder-form .multiselect .multiselect__tags {
    border-width: 0px 0px 1px 0px !important;
    border-style: solid !important;
    border-radius: 0 !important;
}
.c-survey #_builder-form .form-builder--item input[type=text][class=form-control], 
.c-survey #_builder-form .form-builder--item .date-picker-custom-style, 
.c-survey #_builder-form textarea, 
.c-survey #_builder-form input[type=number],
.c-survey #_builder-form input[type=tel],
.c-survey #_builder-form input[type=email], 
.c-survey #_builder-form .multiselect .multiselect__tags {
    border-width: 0px 0px 1px 0px !important;
    border-style: solid !important;
    border-radius: 0 !important;
}
#_builder-form canvas.signature-button {
    border-width: 0px 0px 1px 0px !important;
    border-style: solid !important;
    border-radius: 0 !important;
}
#_builder-form .form-control:active:focus, 
#_builder-form .form-control:focus,
#_builder-form .form-builder--item input[type=text][class=form-control]:active:focus, 
#_builder-form .form-builder--item input[type=text][class=form-control]:focus,
#_builder-form .countryphone:active:focus, 
#_builder-form .countryphone:focus {
    border-width: 0px 0px 2px 0px !important;
    border-color: #000 !important;
    background-color: transparent !important;
}
#_builder-form .ghl-question-set {
    height: 100%;
    min-height: 400px;
    max-height: 400px;
    overflow-y: scroll;
    background-color: #ffffff !important;
    display: flex;
    -moz-box-pack: center;
    justify-content: start;
    flex-direction: column;
}
#_builder-form .ghl-question .option-radio {
    background: #ffffff !important;
}
#_builder-form .form-builder--item .option-radio label {
    color: #333333 !important;
}
#_builder-form .option-radio label::before {
    position: absolute !important;
    display: block;
    background-color: transparent;
    border-radius: 3px;
    width: 30px;
    height: 30px;
    top: initial !important;
    font-weight: 400;
    border: 1px solid #333333 !important;
    text-align: center;
    content: "" !important;
    font-family: FontAwesome;
    line-height: 26px;
}
#_builder-form .option-radio input + label::after {
    border: 1px solid #fff !important;
    background-color: var(--option-radio-button-hover) !important;
    width: 30px !important;
    height: 30px !important;
    border-radius: 3px;
    text-align: center;
    top: 8px !important;
    left: 8px !important;
    font-weight: 400;
    font-size: 16px !important;
}
#_builder-form .form-builder--item .option-radio label {
    padding: 8px 15px 8px 45px !important;
}
#_builder-form .form-builder--item .option-radio label:hover::before,
#_builder-form .form-builder--item .option-radio label:focus::before {
    border: 1px solid var(--option-radio-border) !important;
    background-color: var(--option-radio-bg) !important;
    left: -10px !important;
    width: 45px !important;
        transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -mx-transition: all 0.2s ease;
}
#_builder-form .option-radio label.checked::before {
	background-color: #ffffff !important;
}
#_builder-form .option-radio input + label:hover::after {
    border: 1px solid var(--option-radio-button-hover) !important;
    width: 45px !important;
    top: 8px !important;
    left: -10px !important;
}

#_builder-form .ghl-question .opt-star .form-builder--item {
    display: block !important;
    border: none !important;
    margin-top: 15px !important;
}
#_builder-form .ghl-question .opt-star .form-builder--item .option-radio {
    clear: unset !important;
    width: 80px !important;
    margin: 0 !important;
}
#_builder-form .ghl-question .opt-star .form-builder--item .option-radio div {
    width: 100% !important;
    height: 100% !important;
    border: none !important;
    margin: 0px !important;
}
#_builder-form .ghl-question .opt-star .form-builder--item .option-radio label {
    width: 100% !important;
    border: none !important;
    padding: 0px !important;
    font-size: 0 !important;
    line-height: 0 !important;
}
#_builder-form .ghl-question .opt-star .form-builder--item .option-radio label::before {
    position: relative !important;
    border: none !important;
    content: '\f005' !important;
    font-family: FontAwesome;
    line-height: 60px;
    font-size: 60px !important;
    width: 60px !important;
    height: 55px !important;
    top: 0px !important;
    left: 0 !important;
    right: 0 !important;
    margin: 0 auto !important;
    color: #8a8a8a !important;
}
#_builder-form .ghl-question .opt-star .form-builder--item div .option-radio label {
    border: none !important;
}
#_builder-form .ghl-question .opt-star .form-builder--item .option-radio label:hover::before, 
#_builder-form .ghl-question .opt-star .form-builder--item .option-radio label:focus::before {
    border: none !important;
    background-color: #fff !important;
    left: 0px !important;
    width: 60px !important;
}
#_builder-form .ghl-question .opt-star .form-builder--item .option-radio label.checked::before {
    background-color: transparent !important;
}
#_builder-form .ghl-question .opt-star .form-builder--item .option-radio label.starred::before {
    color: var(--option-radio-button-bg) !important;
}
#_builder-form .ghl-question .opt-star .form-builder--item .option-radio label::after {
    border: none !important;
    content: '\f005' !important;
    font-family: FontAwesome;
    line-height: 60px;
    font-size: 60px !important;
    width: 60px !important;
    height: 55px !important;
    top: 2px !important;
    left: 0 !important;
    right: 0 !important;
    margin: 0 auto !important;
    background-color: transparent !important;
    color: var(--option-radio-button-bg) !important;
}
#_builder-form .ghl-question .opt-star .form-builder--item .option-radio:hover ~ div label::before, 
#_builder-form .ghl-question .opt-star .form-builder--item .option-radio:focus ~ div label::before, 
#_builder-form .ghl-question .opt-star .form-builder--item .option-radio:active ~ div label::before {
    color: #cccccc !important;
}
#_builder-form .ghl-question .opt-star .form-builder--item .option-radio:hover ~ div label.starred::before, 
#_builder-form .ghl-question .opt-star .form-builder--item .option-radio:focus ~ div label.starred::before, 
#_builder-form .ghl-question .opt-star .form-builder--item .option-radio:active ~ div label.starred::before {
    color: var(--option-radio-button-bg) !important;
}
#_builder-form .ghl-question .opt-star .form-builder--item .option-radio label.starred:hover::before {
    color: var(--option-radio-button-bg) !important;
}

/* Additional Styles - New DOM Structure 2022 */
.loader-container + section #_builder-form .ghl-question-set .menu-field-wrap .form-builder--item .input-group-text {
  border-color: var(--input-border) !important;
    color: var(--input-color) !important;
    background: var(--input-bg) !important;
}
.loader-container + section #_builder-form .ghl-question-set .menu-field-wrap .form-builder--item .in-r-c label::before {
  border: 2px solid var(--checkbox-border-color) !important;
}

/* Responsive */
@media only screen and (max-width: 700px){
#_builder-form .ghl-question .opt-star .form-builder--item .option-radio {
  float: left !important;
}
}
@media only screen and (max-width: 640px){
#_builder-form .ghl-question .menu-field-wrap.opt-star .form-builder--item div {
    width: auto !important;
}
#_builder-form .ghl-question .opt-star .form-builder--item .option-radio {
  width: 50px !important;
}
#_builder-form .ghl-question .opt-star .form-builder--item .option-radio label::after {
  line-height: 40px;
  font-size: 40px !important;
  width: 40px !important;
  height: 40px !important;
}
}
@media only screen and (max-width: 480px){
#_builder-form, .hl-app .ghl-survey-form, form#_builder-form.ghl-survey-form {
    padding: 20px 20px 20px 20px !important;
}
#_builder-form .hl-app .ghl-question-set .ghl-question, 
#_builder-form .ghl-question-set .ghl-question {
    padding: 20px 15px 20px 15px !important;
}
#_builder-form .ghl-question .menu-field-wrap.opt-star .form-builder--item div.option-radio.star {
  margin-right: 5px !important;
}
#_builder-form .ghl-question .menu-field-wrap.opt-star .form-builder--item div.option-radio.star:last-child {
  margin-right: 0px !important;
}
#_builder-form .ghl-question .opt-star .form-builder--item .option-radio label::before {
    line-height: 40px;
    font-size: 40px !important;
    width: 40px !important;
    height: 40px !important;
}
#_builder-form .ghl-question .opt-star .form-builder--item .option-radio label::after {
    line-height: 40px;
    font-size: 40px !important;
    width: 40px !important;
    height: 40px !important;
}
#_builder-form .ghl-question .opt-star .form-builder--item .option-radio label:hover::before, 
#_builder-form .ghl-question .opt-star .form-builder--item .option-radio label:focus::before {
    width: 40px !important;
}
#_builder-form .ghl-button-bar .ghl-prev-button {
    width: 60%;
}
#_builder-form .ghl-button-bar .ghl-next-button, #_builder-form .ghl-button-bar .ghl-submit-button {
    width: 100% !important;
}
#_builder-form .ghl-button-bar .ghl-submit-button {
    text-align: center;
}
#_builder-form .ghl-question-set {
    min-height: initial !important;
    max-height: initial !important;
}
}
@media only screen and (max-width: 380px){
#_builder-form .ghl-question .opt-star .form-builder--item .option-radio label::before {
    line-height: 30px;
    font-size: 30px !important;
    width: 30px !important;
    height: 25px !important;
}
#_builder-form .ghl-question .opt-star .form-builder--item .option-radio label::after {
    line-height: 30px;
    font-size: 30px !important;
    width: 30px !important;
    height: 25px !important;
}
#_builder-form .ghl-question .opt-star .form-builder--item .option-radio label:hover::before, 
#_builder-form .ghl-question .opt-star .form-builder--item .option-radio label:focus::before {
    width: 30px !important;
}
form#_builder-form.ghl-survey-form.form-submitted .ghl-button-bar .ghl-submit-button {
    width: 100% !important;
    border-left: 0px !important;
    text-align: right !important;
}
}